{% extends "adminlayout.html" %}
{% block content %}

        <h1>Admin Home Page</h1>
        <hr>
        <h2 style="color: red">Declare Result</h2>
        
         <div class="content-section">
        
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                
                <div class="form-group">
                    {{ form3.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
	
{% endblock content %}
