{% extends "layout.html" %}
{% block content %}
{% if current_time.year>2020 or (current_time.year == 2020 and current_time.month==12 and current_time.day >=5)%}
    <div class="content-section" style="text-align: center;">
        <h2>You Have been Alloted :</h1>
        <h1 style="color: red;text-align: center;">{{allocatedCollege}}</h1>
        <h1 style="color: red;text-align: center;">{{allocatedBranch}}</h1>
    </div>
{% endif %}
{% if (current_time.year == 2020 and current_time.month==12 and current_time.day <5 and current_time.year == 2020 and current_time.month==12 and current_time.day >=1) or (current_time.year == 2020 and current_time.month==11 and current_time.day > 20 and current_time.year == 2020 and current_time.month==11 and current_time.day <=30 )%}

    <div class="content-section">
        <h2>Choice Filling was Closed on 20 November 2020.</h1>
        <h2> Result will be declared on 5 December 2020.</h2>
    </div>

{% endif %}
{% if current_time.year == 2020 and current_time.month==11 and current_time.day <=20 %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="color: #BB6655">{{ legend }} for {{current_user.firstname}}</legend>
            <div class="form-group">
                {{ form.title1.label(class="form-control-label") }}
                {% if form.title1.errors %}
                    {{ form.title1(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title1(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.title2.label(class="form-control-label") }}
                {% if form.title2.errors %}
                    {{ form.title2(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title2.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title2(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

<div class="content-section">
    <table class="m-5" style="width: 600px;" >
        <tr class ="" style="color: black;border: 5px solid #929292;background-color: #FFEE88 ">
                <th >
                    Preference Rank
                </th>
                <th>
                    College Name
                </th>
                <th>
                    Branch Name
                </th>
		<th>
                    
                </th>
            </tr>
        {% for query in pref %}
            <div style="margin:0px 0px 10px">
                <a href="#" class="">
                    <tr style="border: 1.5px solid #929292">
                        <th>
                            {{query[1]}}  
                        </th>
                        <th>
                            {{query[2]}}  
                        </th>
                        <th>
                            {{query[3]}}  
                        </th>
                        <th>
                        <form action="{{ url_for('delete_post', post_id=query[0]) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                        
                        </th>
                    </tr>
                </a>
            </div>
    {% endfor %}
    </table>
</div>
{% endif %}
{% endblock content %}
